.idea/Necktie.iml
.idea/dictionaries/Ondra.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
Necktie.xcworkspace/xcuserdata/Ondra.xcuserdatad/xcschemes/xcschememanagement.plist
